.header-container {
  display: flex;
}

.header-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
}

.header-title {
  font-size: 60px;
  font-weight: 800;
  color: rgb(31, 31, 31);
}

.header-description {
  font-size: 60px;
  font-weight: 300;
  color: rgb(140, 140, 140);
  font-size: 20px;
}

.header-right {
  display: flex;
  width: 70%;
}

.header-button {
  padding: 15px 20px;
  background-color: rgb(199, 89, 4);
  border-radius: 5px;
  color: white;
  border: none;
}

.header-left button {
  margin-top: 20px;
  width: 20%;
}

.header-img {
  display: flex;
  justify-content: flex-end;
}

.header-img img {
  width: 70%;
  border-radius: 20px;
  border: 1px solid rgb(201, 201, 201);
}
