.nav-container {
  display: flex;
  background-color: rgb(255, 255, 255);
  color: rgb(30, 30, 30);
}

.navbar-left {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar-right {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar-links {
  display: flex;
  list-style-type: none;
}

.navbar-links > * {
  padding: 10px 25px;
  font-size: 10px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 8px;
  display: block;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  color: white;
  cursor: pointer;
}

.navbar-links > *:hover {
  background-position: right center; /* change the direction of the change here */
  color: black;
  text-decoration: none;
}

.navbar-links > *:not(:last-child) {
  margin-right: 25px;
}
