.nav-container {
  display: flex;
  background-color: rgb(239, 239, 239);
}

.navbar-left {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-right {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
}

.navbar-links {
  display: flex;
  list-style-type: none;
}

.navbar-links > * {
  padding: 10px 25px;
  font-size: 10px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
}

.navbar-links > *:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.navbar-links > *:not(:last-child) {
  margin-right: 25px;
}
